{% extends 'temp.html' %}

<!--{% load static %}-->
{% block content %}
        <br>
        <br>
        <br>
        <br>
        <br>
	<div class="row">
		<div class="col-lg-12">
			<div class="box-element">
				<a  class="btn btn-outline-light" href="{% url 'collection' %}">&#x2190;Continue Shopping</a>
				<br>
				<br>
				<table class="table">
					<tr>
						<h5>Items: <strong>{{order.get_cart_items}}</strong></h5>
						<h5>Total: <strong>{{order.get_cart_total}}</strong></h5>
						<th>
							<a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
						</th>
					</tr>
				</table>
			<h1>Summary</h1>
			</div>

			<br>
<!--			<div class="container">-->
			<h1></h1>
<!--			<div class="box-element">-->
<!--				<div class="cart-row">-->
<!--					<div style="flex:2"></div>-->
<!--					<div style="flex:2"><strong>Item</strong></div>-->
<!--					<div style="flex:1"><strong>Price</strong></div>-->
<!--					<div style="flex:1"><strong>Quantity</strong></div>-->
<!--					<div style="flex:1"><strong>Total</strong></div>-->
<!--				</div>-->
				<ol>
				{% for item in items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{item.product.post_image.url}}"></div>
					<div style="flex:2"><li><b>Item: </b>{{item.product.gamename}}</li></div>
					<div style="flex:1"><b>Price</b>:<p>&#8377;{{item.product.newgameprice|floatformat:2}}</p></div>
					<div style="flex:2">
						<p class="quantity"><b>Quantity: </b>{{item.quantity}}</p>
					<div style="flex:1"><b>Total</b>: <p>&#8377;{{item.get_total|floatformat:2}}</p></div>
					<br>
					<br>
					<p id="demo"></p>
				{% endfor %}
				</ol>
			</div>
		</div>
	</div>
{% endblock content %}
